Checks: >
  bugprone-*,
  readability-*,
  performance-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  misc-*,
  portability-*,
  modernize-*,
  hicpp-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: readability-identifier-length.MinVariableNameLength
    value: '1'

HeaderFilterRegex: '.*'
FormatStyle: file
